<%= form_for(@encarregado) do |f| %>
  <% if @encarregado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encarregado.errors.count, "error") %> prohibited this encarregado from being saved:</h2>

      <ul>
      <% @encarregado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="row">
  <div class="span3 offset1">
  
  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :dataNasc %><br>
    <%= f.date_select :dataNasc %>
  </div>
  <div class="field">
    <%= f.label :nBI %><br>
    <%= f.number_field :nBI %>
  </div>
  <div class="field">
    <%= f.label :morada %><br>
    <%= f.text_field :morada %>
  </div>
  <div class="field">
    <%= f.label :cp %><br>
    <%= f.text_field :cp %>
  </div>
  <div class="field">
    <%= f.label :localidade %><br>
    <%= f.text_field :localidade %>
  </div>
  
  <div class="field">
	<%= f.label :email %>
    <%= f.text_field :email %>
	</div>

	<div class="field">
     <%= f.label :password %>
     <%= f.password_field :password %>
	 </div>

	 <div class="field">
     <%= f.label :password_confirmation, "Confirmation" %>
     <%= f.password_field :password_confirmation %>
	 </div>
  
  <div class="actions">
    <%= f.submit "Gravar", class: "btn btn-primary" %>
  </div>
  
  </div>
  </div>
  
<% end %>
