<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
		<% if signed_in? %>
          <%= link_to "TePeCe", current_user, id: "logo" %>
        <% else %>
          <%= link_to "TePeCe", static_pages_home_path, id: "logo" %>
        <% end %>
          <nav>
            <ul class="nav pull-right">
			
				<% if signed_in? %>
						
				<li><%= link_to "Home", current_user %></li>
				<li id="fat-menu" class="dropdown">
					<a href=mensagens_path class="dropdown-toggle" data-toggle="dropdown">
						<%= current_user.user_name %> <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Editar Perfil", edit_user_path(current_user) %></li>
						<li class="divider"></li>
						<li>
							<%= link_to "Sair", signout_path, method: "delete" %>
						</li>
					</ul>
				</li>
				<% else %>
					<li><%= link_to "Home", static_pages_home_path %></li>
					<li><%= link_to "Entrar", signin_path %></li>
				<% end %>	
            </ul>
          </nav>
        </div>
      </div>
    </header>