<h1></h1>
<legend>Estatisticas dos Alunos</legend>

<%= will_paginate %>

<div class="span9" id="content">
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            
                            <div class="block-content collapse in">
                                <div class="span12">
  									<table class="table">
						              <thead>									
										<tr>
						                  <th>#</th>
						                  <th>Nome</th>
						                  <th></th>
						                  <th></th>
						                </tr>
						              </thead>
						              
									  
									  
									  <tbody>
									   <% @alunos.each do |aluno| %>
						                <tr>
						                  <td><%= aluno.id %></td>
						                  <td><%= link_to aluno.nome, aluno %></td>
						                 
						                  
										  <% if current_user.admin? %>
										  <td><%= link_to image_tag("search-icon24.png") + 'Consultar estatisticas', aluno_statistics_path(aluno) %></td>
										  <% end %>
										</tr>
										 <% end %>
						              </tbody>
						            </table>
                                </div>
                            </div>
                        </div>
                        <!-- /block -->
					</div>
</div>


<%= will_paginate %>



