<h1>Listing resolucaos</h1>

<table>
  <thead>
    <tr>
      <th>Resposta</th>
      <th>Exercicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resolucaos.each do |resolucao| %>
      <tr>
        <td><%= resolucao.resposta %></td>
        <td><%= resolucao.exercicio_id %></td>
        <td><%= link_to 'Ver', resolucao %></td>
        <td><%= link_to 'Alterar', edit_resolucao_path(resolucao) %></td>
        <td><%= link_to 'Apagar', resolucao, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>